<form action="/friends" method="post">

<input type="text" name="nicname" autofocus>
<input type="text" name="age">
<input type="text" name="gender">
<input type="text" name="image_url">
<input type="text" name="social_link">

<button>Add Friend</button>


</form>